html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url(images/background.jpg);
}

#app {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

#header {
  margin: 20px auto;
  font-family: Georgia, serif;
  text-shadow: 3px 2px 4px rgba(91, 64, 25, 0.86);
}

#content {
  margin: 0 auto;
  padding: 30px 20px;
  width: 80%;
  background-color: #f5f5f5cf;
  box-shadow: 0 0 20px 14px #0000006a;
}

#image-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#image-wrapper img {
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid grey;
  border-radius: 2px;
}

#icons-wrapper {
  display: flex;
  padding: 10px;
  overflow-x: auto;
  border: 1px solid grey;
  border-radius: 2px;
}

#icons-wrapper img {
  width: 70px;
  height: 70px;
  padding-right: 10px;
  border: 1px solid transparent;
}

#icons-wrapper img:hover {
  opacity: 0.85;
  cursor: pointer;
}

#images-source {
  margin: 2px auto 20px;
  color: #fff;
}

button {
  padding: 10px;
  margin: 10px 5px;
  width: 40px;
  height: 50px;
  font-size: 22px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

@media only screen and (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {
  #app {
    justify-content: center;
  }

  #header {
    font-size: xx-large;
  }
}

@media only screen and (min-width: 900px) and (orientation: landscape) {
  #header {
    font-size: xx-large;
  }

  #content {
    display: flex;
    width: 90%;
  }

  #image-wrapper {
    margin-right: 10px;
    max-width: 55%;
    flex-wrap: nowrap;
    align-items: center;
  }

  #image-wrapper img {
    width: calc(100% - 120px);
  }

  button {
    margin: 10px;
  }

  #previous {
    order: 0;
  }

  #image-preview {
    order: 1;
  }

  #next {
    order: 2;
  }

  #icons-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    max-width: 45%;
    padding: 5px;
    overflow: hidden;
  }

  #icons-wrapper img {
    width: 30%;
    height: auto;
    padding: 5px;
  }

  #icons-wrapper img:hover {
    background-color: #0000004a;
  }

  #images-source {
    margin-left: calc(5% - 15px);
    width: 90%;
  }
}
