body {
  margin: 0;
  padding: 20px;
  background-image: url(images/background.jpg);
}

#header {
  font-family: Georgia, serif;
  text-shadow: 3px 2px 4px rgba(91, 64, 25, 0.86);
}

#content {
  padding: 40px 20px;
  background-color: #f5f5f5cf;
  box-shadow: 0 0 20px 7px #0000003b;
}

.flex-container, .image-flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.icons-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

#image-wrapper, #icons-wrapper {
  width: 50%;
  align-items: center;
}

#icons-wrapper {
  max-height: 630px;
}

#image-preview {
  width: calc(100% - 125px);
  height: auto;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 2px;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.icon {
  width: 200px;
  height: auto;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: #00000052;
  margin: 4px;
}

.icon:hover {
  opacity: 0.85;
  border-color: #00000099;
  cursor: pointer;
}

@media only screen and (orientation: portrait),
(max-width: 786px) and (orientation: landscape) {
  .flex-container {
    flex-wrap: wrap;
  }
  .image-flex-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .icons-flex-container {
    justify-content: flex-start;
  }
  #content {
    padding: 25px;
  }
  #image-wrapper, #icons-wrapper, #image-preview {
    width: 100%;
  }
  #image-wrapper {
    padding-bottom: 20px;
  }
  #previous {
    order: 2;
  }
  #next {
    order: 3;
  }
}

@media only screen and (max-width: 1224px) {
  .icon {
    width: 150px;
  }
}

@media only screen and (max-width: 1024px) {
  .icon {
    width: 100px;
  }
}

@media only screen and (max-width: 786px) {
  .icons-flex-container {
    flex-wrap: nowrap;
  }
}

@media only screen and (max-width : 480px) {
  .icon {
    width: 50px;
  }
}
