body {
  margin: 0;
  padding: 20px;
  background-image: url(images/background.jpg);
}

#content {
  background-color: #f5f5f5cf;
}

#content > h2 {
  margin: 0;
  padding: 20px 28px 0px;
}

.flex-container,
.image-flex-container,
.icons-flex-container {
  display: flex;
}

.icons-flex-container {
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
}

#wrapper {
  padding: 20px;
}

#image-wrapper, #icons-wrapper {
  max-height: 630px;
  align-items: center;
}

#image-preview {
  width: 600px;
  height: 600px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 2px;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.icon {
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: #00000052;
  margin-top: 4px;
  margin-bottom: 4px;
}

.icon:hover {
  opacity: 0.8;
  border-color: #00000099;
  cursor: pointer;
}
